@page
@{
    ViewData["Title"] = "Главная";
}
@model SocialNetwork.ViewModels.Account.MainViewModel;

<div class="row">
    <div class="side">
        Описание самой клевой соцсети
    </div>
    <div class="main">
        блок регистрации
        блок авторизации
        <partial name="Register" />
    </div>
</div>