@{
    ViewData["Title"] = "Главная";
}
@model SocialNetwork.ViewModels.MainViewModel;

<div class="row">
    <div class="side">
        Описание самой клевой соцсети
    </div>
    <div class="main">
        <partial name="Login" model="@Model.LoginView" />
        <partial name="Register" model="@Model.RegisterView" />
    </div>
</div>